<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AllModelCreatorInWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <AllModelCreatorInWPF.Properties.Settings>
            <setting name="InputRootFolder" serializeAs="String">
                <value>G:\My Drive\02. Bay View\03. BIM\Trade Partners Workspace\02 Weekly Updates ALL\Current\</value>
            </setting>
            <setting name="NWDFolderQualifier" serializeAs="String">
                <value>_</value>
            </setting>
            <setting name="OutputFolder" serializeAs="String">
                <value>G:\My Drive\02. Bay View\03. BIM\Trade Partners Workspace\02 Weekly Updates ALL\Current\ZZ Published Container NWD\CurrentContainer\</value>
            </setting>
            <setting name="LicenseServer" serializeAs="String">
                <value>license.whiting-turner.com</value>
            </setting>
        </AllModelCreatorInWPF.Properties.Settings>
    </userSettings>
</configuration>